<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>source code test</title>
</head>
<body>
  <div id="app">
    <ul>
      <li :key="week.wid" v-for="week in weeks">
        {{week.wid + '-' +  week.name}}
      </li>
      <div @click="handleClick">改变数组</div>
      <li :key="day" v-for="day in days">
        {{day}}
      </li>
    </ul>
  </div>
  <script src="../../dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        weeks: [],
        days: [100, 200, 300]
      },
      created () {
        this.weeks = [
          {wid: 1, name: '周一'},
          {wid: 2, name: '周二'},
          {wid: 3, name: '周三'},
          {wid: 4, name: '周四'},
          {wid: 5, name: '周五'},
          {wid: 6, name: '周六'},
          {wid: 7, name: '周日'}
        ]
      },
      methods: {
        handleClick () {
          this.days.forEach((day, index) => {
            if (index === 2) {
              day = 800
              this.days.splice(index, 1, day)
            }
          })
          // 值改变了，但并没有触发视图渲染
          console.log(this.days, 'days')
        }
      }
    })
  </script>
  <style scoped>
  </style>
</body>
</html>
